.container {
  text-align: center;
}

.box {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  display: inline-block;
  
  width: calc(190vw / 4);
  height: calc(25vw / 4);
  
  padding: 5px;
  background-color: darkblue;
  color: blanchedalmond;
  margin: auto;
  font-size: calc(8vw / 4);
  border: 5px solid orange;
}

.box:hover {
  z-index: 10;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  border: none;
  border-radius: 5px;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.Progress {
  text-align: center;
  border: 5px solid orange;
}

.progress {
  width: calc(55vw / 4);
  height: calc(6vw / 4);
  background-color: darkblue;
  color: blanchedalmond;
  margin: auto;
  padding: 10px;
  font-size: calc(6vw / 4);
}






/*Stopped here*/
.Logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}




button {
  width: calc(140vw / 4);
  height: calc(18vw / 4);
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: blanchedalmond;
  margin: 10px;
  font-size: calc(8vw / 4);
  border: 5px solid orange;
}



button:hover {
  background-color: orange;
  cursor: pointer;
}

.result {
  font-size: 30px;
  font-weight: 400;
  display: grid;
  place-content: center;
}

.button-answer-selected {
  background-color: orange;
}

.row {
  display: flex;
}

.row > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.prva {
  position: absolute;
  left: -100px;
  bottom: 0px;
}

.druga {
  position: absolute;
  right: 0px;
}



.odgovor {
  width: 100px;
}

.menu {
  width: 500px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  
}

.modal {
  
  top: 50%;
  font-size: 30px;
  background-color: darkblue;
  height: 200px;
  width: 960px;
  text-align: center;
  color: blanchedalmond;
}

.yesno {
  margin: 40px;
  top: 50px;
  left: 300px;
}

