.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Pitanje {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;

  display: inline-block;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100px;
  padding: 5px;
  background-color: darkblue;
  color: blanchedalmond;
  margin: 10px;
  font-size: 30px;
  border: 5px solid orange;
}

.status {
  width: 300px;
  height: 700px;
  background-color: darkblue;
  color: blanchedalmond;
  font-size: 15px;
}

button {
  width: 800px;
  height: 75px;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: blanchedalmond;
  margin: 10px;
  font-size: 30px;
  border: 5px solid orange;
}

.botun {
  width: 500px;
  height: 75px;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color: blanchedalmond;
  margin: 10px;
  font-size: 30px;
  border: 5px solid orange;
}

button:hover {
  background-color: orange;
  cursor: pointer;
}

.result {
  font-size: 30px;
  font-weight: 400;
  display: grid;
  place-content: center;
}

.button-answer-selected {
  background-color: orange;
}

.row {
  display: flex;
}

.row > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.prva {
  position: absolute;
  left: -100px;
  bottom: 0px;
}

.druga {
  position: absolute;
  right: 0px;
}

.Progress {
  width: 200px;
  height: 35px;
  background-color: darkblue;
  color: blanchedalmond;
  font-size: 20px;
}

.odgovor {
  width: 100px;
}

.menu {
  width: 500px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  
}

.modal {
  
  top: 50%;
  font-size: 30px;
  background-color: darkblue;
  height: 200px;
  width: 960px;
  text-align: center;
  color: blanchedalmond;
}

.yesno {
  margin: 40px;
  position: absolute;
  top: 50px;
  left: 300px;
  
}

